<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .border-5 {
            border-width: 3px !important;
        }
        .btn-label {
            font-weight: bold;
        }
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-info text-white">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active text-white fs-5" aria-current="page" href="#">Home</a>
					<a class="nav-link text-white fs-5" href="#">Login</a>
					<a class="nav-link text-white fs-5" href="#">Register</a>
					<a class="nav-link text-white fs-5" href="#">Contact us</a>
				</div>
			</div>
		</div>
	</nav>
    <div class="container">
        <div class="row">
            <div class="col-sm p-5 position-relative">
                <a href="/math-page.html" class="btn btn-md p-0 border border-dark border-5">
                    <img src="/images/math.jpg" class="rounded mx-auto d-block img-fluid">
                    <span class="btn-label">Math</span>
                </a>
            </div>
            <div class="col-sm p-5 position-relative">
                <a href="/science-page.html" class="btn btn-md p-0 border border-dark border-5">
                    <img src="/images/science.jpg" class="rounded mx-auto d-block img-fluid">
                    <span class="btn-label">Science</span>
                </a>
            </div>
            <div class="col-sm p-5 position-relative">
                <a href="/social-page.html" class="btn btn-md p-0 border border-dark border-5">
                    <img src="/images/social.jpg" class="rounded mx-auto d-block img-fluid">
                    <span class="btn-label">Social</span>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 p-5 position-relative">
                <a href="/english-page.html" class="btn btn-md p-0 border border-dark border-5">
                    <img src="/images/eng.jpeg" class="rounded mx-auto d-block img-fluid">
                    <span class="btn-label">English</span>
                </a>
            </div>
            <div class="col-4 p-5 position-relative">
                <a href="/physics-page.html" class="btn btn-md p-0 border border-dark border-5">
                    <img src="/images/phy.jpeg" class="rounded mx-auto d-block img-fluid">
                    <span class="btn-label">Physics</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
